mixin filter
    .home-filter
        .home-filter__sort
            span.home-filter__label Sắp xếp theo:
            .select-input
                .select-input__list
                    select(onchange= 'handleChangeAZ(value)')
                        option(value='default') Tên sản phẩm
                        option(value='asc') Lọc từ A - Z
                        option(value='desc') Lọc từ Z - A
                .select-input__list
                    label(for='show') Show:
                    select#show(onchange= 'handleChangeLimit(value)')
                        option(value='default') 5
                        option(value='3') 3
                        option(value='6') 6
                        option(value='9') 9
                .select-input__list
                    select(onchange= 'handleChangePrice(value)')
                        option(value='default') Sắp xếp theo giá
                        option(value='asc') Giá tăng dần
                        option(value='desc') Giá giảm dần
        .home-filter__page
            a.home-filter__page-btn(href='./list-product.html')
                .home-filter__page-icon
                    img(src="./assets/images/icon-list-product.png")
            a.home-filter__page-btn(href='./grid-product.html')
                .home-filter__page-icon
                    img(src="./assets/images/icon-list-filter.png")

mixin listCategoryPromotion
    ul.category__list
        each listCategoryPromotion in listCategoryPromotions
            - const {title, listItem} = listCategoryPromotion
            li.category-item__heading
                img(src="./assets/images/icon-list-promotion.png" alt="icon")
                span= title
            each item in listItem
                - const {img, title, price} = item
                a.home-product-item(href="#")
                    img.img-fluid(src=img)
                    .home-product-item__content
                        h4.home-product-item__name= title
                        span.home-product-item__price= price

mixin listCategoryColor
    ul.category__list
        each listCategoryColor in listCategoryColors
            - const {icon, name} = listCategoryColor
            if(name == "Tìm theo màu sắc")
                li.category-item__heading
                    img(src="./assets/images/icon-list-color.png" alt="icon")
                    span= name
            else
                li.category-item
                    img(src=icon alt="icon")
                    a.category-item__link(href='#')= name

mixin listCategoryPrice
    ul.category__list.category-price__list
        each item in listCategoryPrice
            -const {title, listPrices} = item
                li.category-item__heading
                    img(src="./assets/images/icon-list-price.png" alt="icon")
                    span= title
                each prices in listPrices
                    -const {price, value} = prices
                    li.category-item.category-price__item(onclick="handleRangePrice()")
                        img(src="./assets/images/icon-gray.png" alt="icon")
                        .category-item__link(value=price)= price

mixin listCategoryProduct
    .category-item__heading
        img(src="./assets/images/icon-list-product.png" alt="icon")
        span Danh mục sản phẩm
    ul.category__list.category-product__list

mixin productList
    #productList
    