mixin productItemDetail(img, title, rates,feedback,decription, price)
    .home-product-item
        img.img-fluid(src=img)
        .home-product-item__content
            h4.home-product-item__name= title
            .home-product-item__rating
                .home-product-item__star
                    +rating(rates)
                span.home-product-item__feedback= `(${feedback} đánh giá)`
            p= decription
            span.home-product-item__price= price
            .home-product-item__button
                a.home-product-item__buy(href="./cart.html") Mua ngay 
                a.home-product-item__detail(href="./detail-product.html") Xem chi tiết
